In [1]:
'''1. Write a program to reverse a string'''

'1. Write a program to reverse a string'

In [9]:
string = "pwskills"
reverse_string = string[::-1]

In [10]:
reverse_string

'sllikswp'

In [12]:
'2. Check if a string is a palindrome.'

'2. Check if a string is a palindrome.'

In [16]:
string = input()
string = string.lower() .replace(" ","")
if string == string[::-1] :
    print("the given string is palindrome")
else:
    print("the string is not a palindrome")

  Mom

the given string is palindrome

In [17]:
'''3. Convert a string to uppercase.'''

'3. Convert a string to uppercase.'

In [19]:
string = input()
string = string.upper()
print(" the upper case of given string are ", string)

 i am a student of pwskills

 the upper case of given string are  I AM A STUDENT OF PWSKILLS

In [20]:
'4. Convert a string to lowercase.'

'4. Convert a string to lowercase.'

In [22]:
string = input()
string = string.lower()
print(" the lower case of given string are ", string)

 I AM A STUDENT OF PWSKILLS

 the lower case of given string are  i am a student of pwskills

In [23]:
'5. Count the number of vowels in a string.'

'5. Count the number of vowels in a string.'

In [25]:
string = input("write a string")
string = string.lower()
vowel = 0
for i in string :
    if i in "aeiou" :
        vowel+= 1
print("total no of vowel in string are",vowel)

write a string my name is shashi

total no of vowel in string are 5

In [26]:
'6. Count the number of consonants in a string.'

'6. Count the number of consonants in a string.'

In [31]:
string = input("write a string")
string = string.lower() .replace(" ","")
consonant = 0
for i in string :
    if  i not in "aeiou" :
        consonant+= 1
print("total no of consonant in string are",consonant)

write a string my name is shashi

total no of consonant in string are 9

In [32]:
'7. Remove all whitespaces from a string.'

'7. Remove all whitespaces from a string.'

In [36]:
string = input("write a string = ")
string = string.replace(" ","")
print(" the given string without a whitespace is ",string)

write a string =  i am student of pwskills

 the given string without a whitespace is  iamstudentofpwskills

In [37]:
'8. Find the length of a string without using the `len()` function.'

'8. Find the length of a string without using the `len()` function.'

In [40]:
string = input("input a string")
string = string.replace(" ","")
length = 0
for i in string:
    if i in string : 
        length+=1
        
print(" the length of string are " , length)

input a string MY name is shashi

 the length of string are  14

In [41]:
'9. Check if a string contains a specific word'

'9. Check if a string contains a specific word'

In [2]:
input_string = input("enter a string")
search_word = input("enter a word for search")
if search_word in input_string :
    print("yes string contain a specfic word")
else:
    print("not contain a specific word")

enter a string I am a student of pwskills
enter a word for search pwskills

yes string contain a specfic word

In [3]:
'10. Replace a word in a string with another word.'

'10. Replace a word in a string with another word.'

In [1]:

string = input ("enter a string = ")
replace_word = input("enter the replace word =")
new_word = input("enter a new word")
modified_string = string.replace(replace_word ,new_word)
print(" the new sentence is " , modified_string)

enter a string =  hello world
enter the replace word = world
enter a new word pwskills

 the new sentence is  hello pwskills

In [25]:
'11. Count the occurrences of a word in a string.'

'11. Count the occurrences of a word in a string.'

In [7]:
def count_occurrence_word(input_string, word_to_count):
    input_string = input_string.lower()
    word_to_count = word_to_count.lower()
    
    count = input_string.count(word_to_count)
    
    return  count

input_string = "this is a sample string . this string contain the word sample multiple times "
word_to_count = "sample"
result = count_occurrence_word(input_string, word_to_count)
print(f"The word '{word_to_count}' appears {result} times in the input string.")

The word 'sample' appears 2 times in the input string.

In [8]:
"12. Find the first occurrence of a word in a string."

'12. Find the first occurrence of a word in a string.'

In [26]:
def first_occurrence_word(text,word):
    index = text.find(word)
    
    if index == -1 :
        return none
    return index
text = "This is an example sentence. This sentence contains the word example."
word = "example"
result = first_occurrence_word(text, word)
print("Index of the first occurrence:", result)

Index of the first occurrence: 11

In [27]:
'13. Find the last occurrence of a word in a string.'

'13. Find the last occurrence of a word in a string.'

In [30]:
def last_occurrence_word(text,word):
    index = text.rfind(word)
    
    if index == -1:
        return none
    return index
text = "This is an example sentence. This sentence also contains the word example. "
word = "example"
print("Index of last occurrence",last_occurrence_word(text,word))

Index of last occurrence 66

In [1]:
' 14. Split a string into a list of words '

' 14. Split a string into a list of words '

In [4]:
string = input("enter a string =")
string_list = string.split()
print ("the list of a given string ", string_list)

enter a string = this is a sample code

the list of a given string  ['this', 'is', 'a', 'sample', 'code']

In [5]:
'15. Join a list of words into a string'

'15. Join a list of words into a string'

In [3]:
word_list = ["my ","name ","is ","shashi " ]
string = " ".join(word_list)
print (string)

my  name  is  shashi

In [15]:
'''16. Convert a string where words are separated by spaces to one where words
are separated by underscores.'''

'16. Convert a string where words are separated by spaces to one where words\nare separated by underscores.'

In [2]:
input_string = ("this is a sample sentence")
word = input_string.replace(" ","_")
print (word)

this_is_a_sample_sentence

In [3]:
' 17. Check if a string starts with a specific word or phrase. '

' 17. Check if a string starts with a specific word or phrase. '

In [5]:
input_string = input("enter a string = ")
specific_word = input("enter a word or phrase = ")
if input_string.startswith(specific_word) :
    print( "Yes the given string start with specific word ")
else :
    print("Not start with a specific word ")

enter a string =  Pwskills give a best oppertunity for a student
enter a word or phrase =  Pwskills

Yes the given string start with specific word

In [6]:
"18. Check if a string ends with a specific word or phrase."

'18. Check if a string ends with a specific word or phrase.'

In [7]:
input_string = input("enter a string = ")
specific_word = input("enter a word or phrase = ")
if input_string.endswith(specific_word) :
    print( "Yes the given string end with specific word ")
else :
    print("Not end with a specific word ")

enter a string =  i am a student of pwskills
enter a word or phrase =  pwskills

Yes the given string end with specific word

In [9]:
'19. Convert a string to title case (e.g., "hello world" to "Hello World").'

'19. Convert a string to title case (e.g., "hello world" to "Hello World").'

In [7]:
def title_case(string):
    
    string = "hello world"
    title_string = string.title()
    return title_string
result = title_case(string)
print(result)

Hello World

In [12]:
'20. Find the longest word in a string.'

'20. Find the longest word in a string.'

In [9]:
string = input("enter a string")
words = string.split()
longest_word=""
max_length = 0

for word in words :
    word = word.strip('.,!?":;')
    
    if len(word) > max_length:
        max_length = len(word)
        longest_word = word
print ("the longest word is " , longest_word )

enter a string my name is shashi

the longest word is  shashi

In [1]:
' 21. Find the shortest word in a string. '

' 21. Find the shortest word in a string. '

In [3]:
def find_shortest_word(text):
    words = text.split()
    shortest_word = None
    min_length = float('inf')
    for word in words:
        if len(word) < min_length :
            min_length = len(word)
            shortest_word = word
    return shortest_word
text = "this is a sample sentence"
shortest_word = find_shortest_word(text)
print ("the shortest word is = " , shortest_word)

the shortest word is =  a

In [6]:
' 22. Reverse the order of words in a string '

' 22. Reverse the order of words in a string '

In [12]:
def reverse_string(string):
    words = string.split()
    reverse_words = words[::-1]
    reversed_string= " ".join(reverse_words)
    return reversed_string
string =" hello world "
result = reverse_string(string)
print( "Reverse order of string is =" , result )

Reverse order of string is = world hello

In [13]:
' 23. Check if a string is alphanumeric.'

' 23. Check if a string is alphanumeric.'

In [10]:
def is_alphanumeric(text):
     return text.isalnum()

text = "hello12"

if is_alphanumeric(text):
    print("this is alphanumeric")
else:
    print("no, this is not alphanumeric")

this is alphanumeric

In [30]:
" 24. Extract all digits from a string "

' 24. Extract all digits from a string '

In [34]:
def extract_digit(text):
    digits = ""
    for char in text :
        if char.isdigit():
            digits += char
    return digits
text = "hello123world456"
result = extract_digit(text)
print("the digit from a string = " , result)

the digit from a string =  123456

In [35]:
" 25. Extract all alphabets from a string. "

' 25. Extract all alphabets from a string. '

In [1]:
def extract_alpha(text):
    alphabet = ""
    for char in text :
        if char.isalpha():
            alphabet += char
    return alphabet
text = "hello123world456"
result = extract_alpha(text)
print (result)

helloworld

In [2]:
" 26. Count the number of uppercase letters in a string "

' 26. Count the number of uppercase letters in a string '

In [6]:
def uppercase_letter(string):
    count_uppercase = 0 
    for char in string : 
        if char .isupper():
            count_uppercase += 1
    return count_uppercase
string ="Hello World"
result =uppercase_letter(string)
print(result)

2

In [7]:
" 27. Count the number of lowercase letters in a string. "

' 27. Count the number of lowercase letters in a string. '

In [9]:
def lowercase_letter(string):
    string.replace(" ","")
    count_lowercase= 0 
    for char in string : 
        if char .islower():
            count_lowercase += 1
    return count_lowercase
string ="Hello World"
result =lowercase_letter(string)
print(result)

8

In [10]:
" 28. Swap the case of each character in a string "

' 28. Swap the case of each character in a string '

In [3]:
def swap_character(input_string):
    swaped_string = input_string.swapcase()
    return swaped_string
input_string = "HeLlO WoRlD"
result = swap_character(input_string)
print(result)

hElLo wOrLd

In [8]:
' 29. Remove a specific word from a string '

' 29. Remove a specific word from a string '

In [9]:
def replace_word(input_string , remove_word):
    string = input_string.replace(remove_word,"")
    return string
input_string = " i am a student of pwskills"
remove_word = "pwskills"
result = replace_word(input_string , remove_word)
print (result)

 i am a student of

In [10]:
' 30. Check if a string is a valid email address '

' 30. Check if a string is a valid email address '

In [15]:
import re 
def check_email_id():
    email = input("enter a email address")
    matched = r'^[a-zA-Z0-9.%+-]+@[a-zA-Z0-9._]+\.[a-zA-Z]{2,}$'
   
    if re.match(matched,email):
        return True
    else:
        return False
if check_email_id() :
    print(" this is a valid e_mail_id")
else:
    print(" this is not a valid e_mail_id")

enter a email address pwskill@gmail.com

 this is a valid e_mail_id

In [16]:
"31. Extract the username from an email address string. "

'31. Extract the username from an email address string. '

In [2]:
import re
def extract_username():
    email = input("enter a email id ")
    pattern = r'([a-zA-Z0-9]+)'
    match = re.search(pattern,email)
    if match :
        return match.group(1)
    else :
        return None
username = extract_username()
if username :
    print ("the user name from e_mail adress is" , username)
else :
    print("no user name")

enter a email id  dfjk234@gmail.com

the user name from e_mail adress is dfjk234

In [3]:
" 32. Extract the domain name from an email address string. "

' 32. Extract the domain name from an email address string. '

In [10]:
import re
def extract_domain_from_email(email):
    pattern = r'@([\w.]+)'
    match = re.search(pattern,email)
    if match :
        return match.group(1)
    else:
        None
        
email ="shashi123@gmail.com"
domain = extract_domain_from_email(email)
if domain :
    print("the domain of e_mali is =",domain)
else:
    print("no domain")

the domain of e_mali is = gmail.com

In [11]:
' 33. Replace multiple spaces in a string with a single space. '

' 33. Replace multiple spaces in a string with a single space. '

In [16]:
import re
def replace_multispace_with_singlespace(string):
    match = re.sub(r'\s+',' ',string)
    return match
string =" my      name     is   shashi "
cleaned_string = replace_multispace_with_singlespace(string)

print ("the cleaned string is = ",cleaned_string)

the cleaned string is =   my name is shashi

In [17]:
" 34. Check if a string is a valid URL. "

' 34. Check if a string is a valid URL. '

In [8]:
import re
def valid_url(string):
    pattern = r'(https?|ftp)://[^\s/$.?#].[^\s]*$'
    match=re.search(pattern,string) 
    if match :
        return match.group(1)
    else:
        None
        
string = "http://gray-hairdresher-xdefg.pwskills.app/lab/tree/work/22th%20Aug'23_Python_basics_practice_test_file.ipynb"
url = valid_url(string)

if url:
    print("yes this string is a URL")
else:
    print("not a URL")

yes this string is a URL

In [6]:
" 35. Extract the protocol (http or https) from a URL string."

' 35. Extract the protocol (http or https) from a URL string.'

In [2]:
import re
def extract_protocol(string):
    pattern = r'(https?)://'
    match = re.search(pattern,string)
    if match:
        return match.group(1)
    else:
        return None
    
string="https://abc-xyz.com"
protocol = extract_protocol(string)
if protocol:
    print("protocol",protocol)
else:
    None

protocol https

In [9]:
" 36. Find the frequency of each character in a string."

' 36. Find the frequency of each character in a string.'

In [21]:
def frequency_string(input_string):
    frequency={}
    for char in input_string:
        if char in frequency:
            frequency[char] +=1
        else :
            frequency[char] = 1
    return frequency

input_string = "pwskills"
frequency = frequency_string(input_string)

for char,count in frequency.items():
    print(f"'{char}': {count}")

'p': 1
'w': 1
's': 2
'k': 1
'i': 1
'l': 2

In [22]:
" 37. Remove all punctuation from a string"

' 37. Remove all punctuation from a string'

In [23]:
def remove_punctuation(string):
    remove= string.replace('.','')
    return remove
string="My name is shashi kumar. and i am from ranchi. "
print(remove_punctuation(string))

My name is shashi kumar and i am from ranchi

In [24]:
" 38. Check if a string contains only digits. "

' 38. Check if a string contains only digits. '

In [31]:
import re
def check_digits(string):
    pattern = r'^\d+$'
    matched=re.match(pattern,string)
    return matched
string = "123456789"
digit = check_digits(string)
if digit:
    print('yes the pattern only contain a digit')
else:
    print("not contain a string")

yes the pattern only contain a digit

In [32]:
" 39. Check if a string contains only alphabets."

' 39. Check if a string contains only alphabets.'

In [39]:
def check_string(input_string):
    return input_string.isalpha()

input_string="pwskills"
check_alpha=check_string(input_string)
if check_alpha:
    print("yes it contain only alphabet")
else :
    print("no it not contain a alphabet")

yes it contain only alphabet

In [40]:
" 40. Convert a string to a list of characters. "

' 40. Convert a string to a list of characters. '

In [3]:
def string_list(string):
    charecter=[]
    for char in string:
        charecter.append(char)
    return charecter
string = "pwskills"
print(string_list(string))

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [6]:
" 41. Check if two strings are anagrams "

' 41. Check if two strings are anagrams '

In [1]:
def are_anagrams(str1,str2):
    str1=str1.replace(' ','').lower()
    str2=str2.replace(' ','').lower()
    return sorted(str1) == sorted(str2)
        
string1= 'listen'
string2= 'silent'
string3= 'hello'
string4= 'world'

result1 = are_anagrams(string1,string2)
result2 = are_anagrams(string3,string4)

print(f"{string1}' and {string2} are anagrams: ",result1)
print(f"{string3}' and {string4} are anagrams: ",result2)

listen' and silent are anagrams:  True
hello' and world are anagrams:  False

In [2]:
" 42. Encode a string using a Caesar cipher."

' 42. Encode a string using a Caesar cipher.'

In [2]:
def encripted(string,shift):
    cipher=''
    for char in string:
        if char==' ':
            cipher += char
        elif char .isupper():
            cipher= cipher+chr((ord(char)+shift-65)%26+65)
        else:
            cipher= cipher+chr((ord(char)+shift-97)%26+97)
    return cipher

text = input("enter a text")
s= int(input("enter a number"))
print ("the orignal text is ",text)
print (" the encripted message is " ,encripted(text,s))

enter a text pwskills
enter a number 5

the orignal text is  pwskills
 the encripted message is  ubxpnqqx

In [1]:
"  43. Decode a Caesar cipher encoded string. "

'  43. Decode a Caesar cipher encoded string. '

In [2]:
def decode(encode_text,shift):
    decoded_text=""
    for char in encode_text:
        if char.isalpha():
            if char.isupper():
                start = ord('A')
            else:
                start = ord('a')
            decoded_char=chr(((ord(char)-start-shift)%26)+start)
            
        else:
            decoded_char=char
            
            
        decoded_text+=decoded_char
        
    return decoded_text

encode_text=input("enter a encoded text")
shift=5
print("the orignal encoded text is ",encode_text)
print("the decoded text is ",decode(encode_text,shift))

enter a encoded text ubxpnqqx

the orignal encoded text is  ubxpnqqx
the decoded text is  pwskills

In [1]:
" 44. Find the most frequent word in a string. "

' 44. Find the most frequent word in a string. '

In [3]:
def most_frequent_word(input_string):
    words=input_string.split()
    word_frequency={}
    for word in words:
        cleaned_word=word.strip('.,!?').lower()
        if cleaned_word:
            if cleaned_word in word_frequency:
                word_frequency[cleaned_word]+=1
            else:
                word_frequency[cleaned_word]=1
        most_frequent = max(word_frequency,key=word_frequency.get)
        
    return most_frequent , word_frequency[most_frequent]

input_string = "this is a example sentence. in this example sentence. example come molitiple times"
most_frequent, frequency = most_frequent_word(input_string)
print(f"the most frequent word is {most_frequent}, with a frequency of {frequency}")

the most frequent word is example, with a frequency of 3

In [4]:
" 45. Find all unique words in a string "

' 45. Find all unique words in a string '

In [1]:
def unique_word(string):
    words= string.split()
    unique_word_set=set()
    for word in words:
        cleaned_word= word.strip('.!,?')
        if cleaned_word:
            unique_word_set.add(cleaned_word)
    return unique_word_set

string=input("enter a string")
print("all uniqe word is " , unique_word(string))

enter a string this is a example sentence. but this is a good example

all uniqe word is  {'is', 'this', 'sentence', 'but', 'good', 'a', 'example'}

In [2]:
" 46. Count the number of syllables in a string "

' 46. Count the number of syllables in a string '

In [1]:
"47. Check if a string contains any special characters."

'47. Check if a string contains any special characters.'

In [3]:
import re
def check_special_character(string):
    pattern = r'[@.,?$%#^&*+-|\/!<>^]'
    if re.search(pattern,string):
        return True
    else:
        return False
string = input("enter a string")
contain_special= check_special_character(string)
if contain_special:
    print("it contain the special character")
else:
    print("it does not contain a special character")

enter a string my e-mail-id is = sk3543@gmail.com

it contain the special character

In [1]:
" 48. Remove the nth word from a string"

' 48. Remove the nth word from a string'

In [3]:
def remove_nth_words(input_string,n):
    words=input_string.split()
    if n<1 or n>len(words):
        return "invalid value of n"
    else:
        del words[n-1]
        result=' '.join(words)
        return result
input_string=input("enter a string = ")
n= int(input("enter a no. that you want to remove"))
results=remove_nth_words(input_string,n)
print(results)

enter a string =  this is a example sentence
enter a no. that you want to remove 4

this is a sentence

In [1]:
" 49. Insert a word at the nth position in a string. "

' 49. Insert a word at the nth position in a string. '

In [8]:
def add_words(string,new_word,n):
    words=string.split()
    if n<1 or n>len(words):
        return "you enter a invalid number"
    else:
        n=n-1
        new_string=words.insert(n,new_word)
        result=' '.join(words)
        return result
string = input("enter a string")
n = int(input("enter a nth position in which you want to add a new word"))
new_word=input("enter a new word")
final_result=add_words(string,new_word,n)
print(final_result)

enter a string i am a of pwskills
enter a nth position in which you want to add a new word 4
enter a new word student

i am a student of pwskills

In [9]:
" 50. Convert a CSV string to a list of lists. "

' 50. Convert a CSV string to a list of lists. '

In [12]:
def csv_list(string):
    lines=string.strip().split('\n')
    csv_list=[]
    for line in lines:
        row = line.split(',')
        csv_list.append(row)
    return csv_list

string="1,name,email,\n1,shashi,sk23@gmail.com,\n3chandan,ch23@gmail.com"
result=csv_list(string)
for row in result:
    print(row)

['1', 'name', 'email', '']
['1', 'shashi', 'sk23@gmail.com', '']
['3chandan', 'ch23@gmail.com']

In [1]:
# List Based Practice Problem :

In [2]:
" 1. Create a list with integers from 1 to 10."

' 1. Create a list with integers from 1 to 10.'

In [11]:
my_list=[i for i in range(1,11)]

In [12]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
" 2. Find the length of a list without using the `len()` function. "

' 2. Find the length of a list without using the `len()` function. '

In [14]:
def find_length_list(my_list):
    count=0
    for element in my_list:
        count+=1
    return count
my_list=[1,2,3,4,5,6,7,8,9]
length = find_length_list(my_list)
print(length)

9

In [15]:
" 3. Append an element to the end of a list. "

' 3. Append an element to the end of a list. '

In [34]:
input_list=input("enter a list")
my_list=[int(x)  for x in input_list.split()]
element=int(input("enter a element that you want to add "))
my_list.append(element)
print(my_list)

enter a list 1 2 3 4 5 6
enter a element that you want to add  7

[1, 2, 3, 4, 5, 6, 7]

In [35]:
" 4. Insert an element at a specific index in a list."

' 4. Insert an element at a specific index in a list.'

In [40]:
my_list=[1,2,3,5,6,7]
my_list.insert(3,4)  #insert is used to insert the value in a given index 
print(my_list)

[1, 2, 3, 4, 5, 6, 7]

In [41]:
" 5. Remove an element from a list by its value. "

' 5. Remove an element from a list by its value. '

In [45]:
my_list = [1,2,3,4,5,6,7,8,9]
my_list.remove(3) #remove is used to remove a specific no.from a list
print(my_list)

[1, 2, 4, 5, 6, 7, 8, 9]

In [43]:
" 6. Remove an element from a list by its index "

' 6. Remove an element from a list by its index '

In [46]:
my_list=[1,2,3,4,5,6,7]
my_list.pop(2) #pop is used to remove a specific list from a given index(default=last)
print(my_list)

[1, 2, 4, 5, 6, 7]

In [1]:
" 7. Check if an element exists in a list. "

' 7. Check if an element exists in a list. '

In [2]:
list1=[1,2,3,4,5,6,7,8]
element= int(input("enter a no. that you want to check"))
if element in list1 :
    print("yes the element exists in a list")
else:
    print("no , element exists")

enter a no. that you want to check 5

yes the element exists in a list

In [3]:
" 8. Find the index of the first occurrence of an element in a list "

' 8. Find the index of the first occurrence of an element in a list '

In [9]:
list_name= [1,2,32,3,4,1,2,4,5,6,7,8,6,5,4,3]
element = 2
if element in list_name:
    index=list_name.index(element)
    print(f'the index of {element} is {index}')
else:
    print("no element ")

the index of 2 is 1

In [10]:
" 9. Count the occurrences of an element in a list. "

' 9. Count the occurrences of an element in a list. '

In [14]:
my_list = [10,20,30,40,10,10,20,20,20]
element = 20
occurrence=my_list.count(element) # Count the occurrences of the element 20
print(occurrence)

4

In [15]:
" 10. Reverse the order of elements in a list "

' 10. Reverse the order of elements in a list '

In [18]:
my_list = [1,2,3,4,5,6,7,8,9]
reverse_list = my_list[::-1]
print(reverse_list)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [19]:
" 11. Sort a list in ascending order. "

' 11. Sort a list in ascending order. '

In [24]:
my_list=[1,12,3,4,34,2,56,7,67,87]
my_list.sort() #sort is used for shorting a list (default=ascending order)
print(my_list)

[1, 2, 3, 4, 7, 12, 34, 56, 67, 87]

In [22]:
" 12. Sort a list in descending order."

' 12. Sort a list in descending order.'

In [25]:
my_list=[98,34,56,76,343,23,767,45,234]
shorted_list = sorted(my_list,reverse=True)
print(shorted_list)

[767, 343, 234, 98, 76, 56, 45, 34, 23]

In [26]:
" 13. Create a list of even numbers from 1 to 20. "

' 13. Create a list of even numbers from 1 to 20. '

In [34]:
even_no_list = [x for x in range(1,21) if x%2==0]
print(even_no_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [44]:
" 14. Create a list of odd numbers from 1 to 20. "

' 14. Create a list of odd numbers from 1 to 20. '

In [45]:
odd_no_list = [y for y in range(1,21) if y%2!=0]
print(odd_no_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [46]:
" 15. Find the sum of all elements in a list "

' 15. Find the sum of all elements in a list '

In [57]:
my_list=[1,2,3,42,5,6,7,8,9]
sum1=0
for i in my_list:
    sum1=sum1+i
print("the sum is  ", sum1)

the sum is   83

In [1]:
" 16. Find the maximum value in a list. "

' 16. Find the maximum value in a list. '

In [6]:
my_list=[1,2,3,4,5,6,7,45]
max_value=max(my_list)
print(max_value)

45

In [7]:
"17. Find the minimum value in a list."

'17. Find the minimum value in a list.'

In [9]:
my_list=[12,34,54,65,76,3,456,6,1,45]
min_value=min(my_list)
print(min_value)

1

In [10]:
" 18. Create a list of squares of numbers from 1 to 10. "

' 18. Create a list of squares of numbers from 1 to 10. '

In [15]:
my_list=list(range(1,11))
new_list=[]
for i in my_list:
    i=i*i
    new_list.append(i)
print(new_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
" 19. Create a list of random numbers. "

' 19. Create a list of random numbers. '

In [22]:
import random #import random to use the randint() function 
randam_number=10
min_range =1
max_range =100
list_of_random_no = [random.randint(min_range,max_range) for _ in range (randam_number)] #randint is used to return random no.
print(list_of_random_no)

[69, 67, 3, 60, 95, 63, 3, 76, 19, 86]

In [23]:
"20. Remove duplicates from a list."

'20. Remove duplicates from a list.'

In [27]:
my_list=[1,3,3,4,4,4,1,1,3,4,6,7]
new_list=list(set(my_list))
print(new_list)

[1, 3, 4, 6, 7]

In [28]:
" 21. Find the common elements between two lists. "

' 21. Find the common elements between two lists. '

In [31]:
list1=[12,23,45,67,56,78,34,2,4,5]
list2=[12,45,3,54,65,34,563,35,46]
list3=[]
for i in list1:
    if i in list2:
        list3.append(i)
print(list3)

[12, 45, 34]

In [1]:
" 22. Find the difference between two lists. "

' 22. Find the difference between two lists. '

In [5]:
list1=[1,2,4,5,6,7]
list2=[4,5,6,7,8,9]
list3=[]
for i in list1:
    if i not in list2:
        list3.append(i)
print(list3)

[1, 2]

In [6]:
" 23. Merge two lists. "

' 23. Merge two lists. '

In [11]:
list1=[1,2,3,4]
list2=[5,6,7,8]
merge_list=[x for x in list1]+[x for x in list2]
print(merge_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [12]:
" 24. Multiply all elements in a list by 2. "

' 24. Multiply all elements in a list by 2. '

In [19]:
list1=[1,2,3,4,5,6,7,8]
new_list=list(map(lambda a : a*2 ,list1))
print(new_list)

[2, 4, 6, 8, 10, 12, 14, 16]

In [23]:
" 25. Filter out all even numbers from a list. "

' 25. Filter out all even numbers from a list. '

In [26]:
list1=[1,2,3,4,5,6,7,8]
new_list=list(map(lambda a : a , [x for x in list1 if x%2==0]))
print(new_list)

[2, 4, 6, 8]

In [27]:
" 26. Convert a list of strings to a list of integers "

' 26. Convert a list of strings to a list of integers '

In [31]:
list1=["1","2","3"]
int_list=[int(x) for x in list1]
print(int_list)

[1, 2, 3]

In [32]:
" 27. Convert a list of integers to a list of strings. "

' 27. Convert a list of integers to a list of strings. '

In [33]:
int_list=["1","2","3"]
str_list=[str(x) for x in list1]
print(str_list)

['1', '2', '3']

In [34]:
" 28. Flatten a nested list. "

' 28. Flatten a nested list. '

In [57]:
def flatten_list(nested_list):
    flat_list=[]
    for sublist in nested_list:
        if isinstance(sublist,list):
            flat_list.extend(flatten_list(sublist))
        else:
            flat_list.append(sublist)
    return flat_list
nested_list=[1,[2,3],[4,[5,6]]]
flat_list=flatten_list(nested_list)
print(flat_list)

[1, 2, 3, 4, 5, 6]

In [1]:
" 29. Create a list of the first 10 Fibonacci numbers. "

' 29. Create a list of the first 10 Fibonacci numbers. '

In [3]:
def fibanacci_number(n):
    if n<1:
        return 0
    elif n==1:
        return 1
    else:
        return fibanacci_number(n-1)+fibanacci_number(n-2)
    
fibanacii_serise=[fibanacci_number(i) for i in range(10)]
print(fibanacii_serise)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [4]:
" 30. Check if a list is sorted."

' 30. Check if a list is sorted.'

In [18]:
def list_is_sorted(my_list):
    new_list=sorted(my_list)
    if new_list==my_list:
        return True
    else:
        return False
my_list=[1,2,3,4,5]
result=list_is_sorted(my_list)
print(result)

True

In [19]:
" 31. Rotate a list to the left by `n` positions. "

' 31. Rotate a list to the left by `n` positions. '

In [25]:
def rotate_left(lst,n):
    if n<0:
        n=len(lst)+n #adjust for negative value of n 
    n=n%len(lst)
    return lst[n:] + lst[:n]
lst=[1,2,3,4,5]
n=2
result=rotate_left(lst,n)
print(result)

[3, 4, 5, 1, 2]

In [22]:
" 32. Rotate a list to the right by `n` positions. "

' 32. Rotate a list to the right by `n` positions. '

In [2]:
def rotate_right(lst,n):
    if n<0:
        n=len(lst)+n
    n=n%len(lst)
    return lst[-n:] + lst[:-n]
lst=[1,2,3,4,5]
n=2
print(rotate_right(lst,n))

[4, 5, 1, 2, 3]

In [3]:
" 33. Create a list of prime numbers up to 50."

' 33. Create a list of prime numbers up to 50.'

In [14]:
def is_prime(num):
    if num < 2:
        return False
    if num == 2:
        return True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers = [num for num in range(2, 51) if is_prime(num)]

print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [13]:
"34. Split a list into chunks of size `n"

'34. Split a list into chunks of size `n'

In [16]:
def list_into_chunk(lst,n):
    chunk=[]
    for i in range(0,len(lst),n):
        chunk.append(lst[i:i+n])
    return chunk
lst=[1,2,3,4,5,6,7,8,9]
n=3
chunk=list_into_chunk(lst,n)
print(chunk)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [1]:
" 35. Find the second largest number in a list."

' 35. Find the second largest number in a list.'

In [8]:
def second_largest_no(numbers):
    if len(numbers)<2:
        return "list have atlest two numbers"
    largest=second_largest=float('-inf')
    for num in numbers :
        if num >largest:
            second_largest=largest
            largest=num
        elif num > second_largest and num != largest:
            second_largest=num
    if second_largest==float('-inf'):
        return "there is no largest no"
    else:
        return second_largest
my_list=[12,4,56,7,87]
result= second_largest_no(my_list)
print("the second highest number is ",result)

the second highest number is  56

In [9]:
" 36. Replace every element in a list with its square "

' 36. Replace every element in a list with its square '

In [10]:
def square_number(my_list):
    return [x**2 for x in my_list]
my_list=[2,5,7,9]
result=square_number(my_list)
print(result)

[4, 25, 49, 81]

In [11]:
" 37. Convert a list to a dictionary where list elements become keys and their indices become values."

' 37. Convert a list to a dictionary where list elements become keys and their indices become values.'

In [4]:
def list_of_dict(input_list):
    result_dict={}
    for index,item in enumerate(input_list): # to iterate through the element of the input list along with their indices
        result_dict[item]=index
    return result_dict
my_list=['apple','banana','orange','mango']
result=list_of_dict(my_list)
print(result)

{'apple': 0, 'banana': 1, 'orange': 2, 'mango': 3}

In [5]:
" 38. Shuffle the elements of a list randomly "

' 38. Shuffle the elements of a list randomly '

In [7]:
import random

my_list=[1,2,3,4,5,6,7,8]
random.shuffle(my_list) #shuffle the list randomly

print(my_list)

[3, 5, 2, 8, 6, 7, 1, 4]

In [8]:
" 39. Create a list of the first 10 factorial numbers."

' 39. Create a list of the first 10 factorial numbers.'

In [10]:
def factorial_list(n):
    if n==0:
        return 1
    else:
        return n*factorial_list(n-1)
list_of_factorial=[factorial_list(n) for n in range(1,11)]
print(list_of_factorial)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [1]:
" 40. Check if two lists have at least one element in common. "

' 40. Check if two lists have at least one element in common. '

In [5]:
def common_element(list1,list2):
    for i in list1:
        if i in list2:
            return True
    return False
list1=[1,2,3,4,5]
list2=[4,5,6,7,8]
if common_element(list1,list2):
    print("yes the list have a comma")
print(result)

True

In [1]:
" 41. Remove all elements from a list "

' 41. Remove all elements from a list '

In [4]:
def remove_all_element(list1):
    list1.clear()
    return list1
list1=[1,2,3,4,5]
result=remove_all_element(list1)
print(list1)

[]

In [5]:
" 42. Replace negative numbers in a list with 0. "

' 42. Replace negative numbers in a list with 0. '

In [13]:
def replace_negative(list1):
    for i in range(len(list1)):
        if list1[i]<0:
            list1[i]=0
list1=[1,2,3,-1,-5,4]
replace_negative(list1)
print(list1)

[1, 2, 3, 0, 0, 4]

In [14]:
" 43. Convert a string into a list of words "

' 43. Convert a string into a list of words '

In [19]:
def convert_string_into_list(input_string):
    return input_string.split()
my_string="my name is shashi"
result=convert_string_into_list(my_string)
print(result)

['my', 'name', 'is', 'shashi']

In [20]:
" 45. Create a list of the first `n` powers of 2. "

' 45. Create a list of the first `n` powers of 2. '

In [27]:
def list_of_power_two(n):
    my_list=[2**i for i in range(n)]
    return my_list
n=5
result=list_of_power_two(n)
print(result)

[1, 2, 4, 8, 16]

In [28]:
" 46. Find the longest string in a list of strings. "

' 46. Find the longest string in a list of strings. '

In [31]:
def longest_string(string):
    if not string:
        return None
    return max(string,key=len)
string=['my','name','is','shashi']
result=longest_string(string)
if result is not None:
    print("the longest word is",result)
else:
    print("the list is empty")

the longest word is shashi

In [32]:
" 47. Find the shortest string in a list of strings. "

' 47. Find the shortest string in a list of strings. '

In [34]:
def longest_string(string):
    if not string:
        return None
    return min(string,key=len)
string=['my','name','is','shashi']
result=longest_string(string)
if result is not None:
    print("the sortest word is",result)
else:
    print("the list is empty")

the sortest word is my

In [35]:
" 48. Create a list of the first `n` triangular numbers."

' 48. Create a list of the first `n` triangular numbers.'

In [5]:
def generate_triangular_number(n):
    triangular_numbers=[]
    for i in range(1,n+1):
        trianguler_number=(i*(i+1))//2
        triangular_numbers.append(trianguler_number)
    return triangular_numbers
n = int(input("enter a number"))
triangular_numbers=generate_triangular_number(n)
print(triangular_numbers)

enter a number 10

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [6]:
" 49. Check if a list contains another list as a subsequence "

' 49. Check if a list contains another list as a subsequence '

In [6]:
def is_subsequence(subseq,seq):
    i,j = 0,0
    while i<len(seq) and j<len(subseq):
        if seq[i]==subseq[j]:
            j += 1
        i += 1
        
    return j == len(subseq)
sequence = [1,2,3,4,5,6]
subsequence= [2,4,6]
if is_subsequence(subsequence,sequence) :
    print("yes subsequence found in sequence")
else:
    print("no subsequence found in sequence")

yes subsequence found in sequence

In [7]:
" 50. Swap two elements in a list by their indices. "

' 50. Swap two elements in a list by their indices. '

In [8]:
def swap_element_by_indices(my_list,index1,index2):
    if 0 <=index1 < len(my_list) and 0<=index2 <len(my_list):
        temp = my_list[index1]
        my_list[index1]=my_list[index2]
        my_list[index2]=temp
        
my_list=[1,2,3,4,5,6,7,8]
index1=1
index2=2
swap_element_by_indices(my_list,index1,index2)
print(my_list)

[1, 3, 2, 4, 5, 6, 7, 8]

In [9]:
# Tuple Based Practice Problem

In [10]:
" 1. Create a tuple with integers from 1 to 5. "

' 1. Create a tuple with integers from 1 to 5. '

In [11]:
my_tuple=(1,2,3,4,5)

In [13]:
my_tuple

(1, 2, 3, 4, 5)

In [14]:
" 2. Access the third element of a tuple "

' 2. Access the third element of a tuple '

In [16]:
tuple1=(1,2,3,4,5)
third_element=tuple1[2]
print(third_element)

3

In [17]:
" 3. Find the length of a tuple without using the `len()` function. "

' 3. Find the length of a tuple without using the `len()` function. '

In [18]:
my_tuple=(1,2,3,4,5)
count=0
for i in my_tuple:
    count+=1
print(count)

5

In [19]:
" 4. Count the occurrences of an element in a tuple. "

' 4. Count the occurrences of an element in a tuple. '

In [21]:
my_tuple=(1,2,3,4,5,2,2,3,4,2)
element=2
occurrence=my_tuple.count(element)
print(occurrence)

4

In [22]:
" 5. Find the index of the first occurrence of an element in a tuple. "

' 5. Find the index of the first occurrence of an element in a tuple. '

In [25]:
my_tuple=(1,2,3,4,5,6,2,6)
element=6
index=my_tuple.index(element)
print(index)

5

In [26]:
" 6. Check if an element exists in a tuple. "

' 6. Check if an element exists in a tuple. '

In [40]:
def check_a_element(my_tuple):
    element=int(input("enter a element that you want to check"))
    for i in my_tuple:
        if i==element:
            return True
        
    return False
my_tuple=(1,2,3,4,5,6,7)
if check_a_element(my_tuple) :
    print("yes, the element is in the tuple.")
else:
    print("no, the element is in the tuple.")

enter a element that you want to check 4

yes, the element is in the tuple.

In [41]:
" 7. Convert a tuple to a list."

' 7. Convert a tuple to a list.'

In [42]:
my_tuple=(1,2,3,4,5,6,7)
list1=list(my_tuple)
print(list1)

[1, 2, 3, 4, 5, 6, 7]

In [1]:
" 8. Convert a list to a tuple. "

' 8. Convert a list to a tuple. '

In [2]:
my_list=[1,2,3,4,5,6]
tuple1=tuple(my_list)
print(tuple1)

(1, 2, 3, 4, 5, 6)

In [3]:
" 9. Unpack the elements of a tuple into variables. "

' 9. Unpack the elements of a tuple into variables. '

In [4]:
my_tuple=(1,2,3)
var1, var2, var3 = my_tuple
print(var1)
print(var2)
print(var3)

1
2
3

In [5]:
" 10. Create a tuple of even numbers from 1 to 10 "

' 10. Create a tuple of even numbers from 1 to 10 '

In [10]:
def tuple_of_even_numbers(n):
    even_number=[]
    for i in range(1,n+1):
        if i%2==0:
            even_number.append(i)
    return tuple(even_number)
n=10
result=tuple_of_even_numbers(n)
print(result)

(2, 4, 6, 8, 10)

In [11]:
" 11. Create a tuple of odd numbers from 1 to 10. "

' 11. Create a tuple of odd numbers from 1 to 10. '

In [13]:
def tuple_of_odd_number(n):
    odd_number=[]
    for i in range(1,n+1):
        if i%2!=0:
            odd_number.append(i)
    return tuple(odd_number)
n=10
result=tuple_of_odd_number(n)
print(result)

(1, 3, 5, 7, 9)

In [14]:
" 12. Concatenate two tuples "

' 12. Concatenate two tuples '

In [18]:
tuple1=(1,2,3)
tuple2=(4,5,6)
my_tuple=tuple1+tuple2
print(my_tuple)

(1, 2, 3, 4, 5, 6)

In [19]:
" 13. Repeat a tuple three times. "

' 13. Repeat a tuple three times. '

In [20]:
my_tuple=(1,2,3)
new_tuple=3*(my_tuple)
print(new_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [21]:
" 14. Check if a tuple is empty. "

' 14. Check if a tuple is empty. '

In [22]:
my_tuple=()
if len(my_tuple)==0:
    print("the tuple is empty")
else:
    print("the tuple is not a empty")

the tuple is empty

In [23]:
" 15. Create a nested tuple. "

' 15. Create a nested tuple. '

In [1]:
nested_tuple=((1,2),(3,4),(5,6))

In [2]:
" 16. Access the first element of a nested tuple. "

' 16. Access the first element of a nested tuple. '

In [3]:
nested_tuple[0]

(1, 2)

In [4]:
" 17. Create a tuple with a single element. "

' 17. Create a tuple with a single element. '

In [9]:
my_tuple=(12,)
print(my_tuple)

(12,)

In [10]:
" 18. Compare two tuples. "

' 18. Compare two tuples. '

In [13]:
tuple1=(1,2,3,4)
tuple2=(1,2,3,4)
if tuple1==tuple2:
    print("the two tuple are equals")
elif tuple1!=tuple2:
    print("not equal")
elif tuple1>tuple2:
    print("tuple1 greather than tuple2")
elif tuple1<tuple2:
    print("tuple2 grather than tuple1")
else:
    print("tuple does not exist")

the two tuple are equals

In [14]:
" 19. Delete a tuple. "

' 19. Delete a tuple. '

In [17]:
my_tuple=(1,2,3,4,5)
del (my_tuple)

In [19]:
" 20. Slice a tuple. "

' 20. Slice a tuple. '

In [20]:
my_tuple=(1,2,3,4,5,6)
new_tuple=my_tuple[1:5]
print(new_tuple)

(2, 3, 4, 5)

In [21]:
" 21. Find the maximum value in a tuple. "

' 21. Find the maximum value in a tuple. '

In [23]:
my_tuple=(1,2,3,4,5,6)
max(my_tuple)

6

In [24]:
" 22. Find the minimum value in a tuple. "

' 22. Find the minimum value in a tuple. '

In [25]:
my_tuple=(1,2,3,4,5,6,7)
min(my_tuple)

1

In [26]:
" 23. Convert a string to a tuple of characters."

' 23. Convert a string to a tuple of characters.'

In [30]:
string=("my name is shashi")
char_tuple=tuple(string)
print(char_tuple)

('m', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 's', 'h', 'a', 's', 'h', 'i')

In [31]:
" 24. Convert a tuple of characters to a string "

' 24. Convert a tuple of characters to a string '

In [32]:
char_tuple=('h','e','l','l','o',' ','w','o','r','l','d')
string=''.join(char_tuple)
print(string)

hello world

In [33]:
" 25. Create a tuple from multiple data types. "

' 25. Create a tuple from multiple data types. '

In [34]:
mixed_tuple=(1,'h',1.5,[1,2,3,4])
print(mixed_tuple)

(1, 'h', 1.5, [1, 2, 3, 4])

In [35]:
" 26. Check if two tuples are identical."

' 26. Check if two tuples are identical.'

In [37]:
tuple1=(1,2,3)
tuple2=(1,2,3)
if tuple1==tuple2:
    print("Yes,the tuple are identical")
else:
    print("No, the tuple are not a identical")

Yes,the tuple are identical

In [39]:
"27. Sort the elements of a tuple."

'27. Sort the elements of a tuple.'

In [41]:
my_tuple=(1,2,5,3,7,4,8,6)
new_tuple=sorted(my_tuple)
print(tuple(new_tuple))

(1, 2, 3, 4, 5, 6, 7, 8)

In [42]:
" 28. Convert a tuple of integers to a tuple of strings."

' 28. Convert a tuple of integers to a tuple of strings.'

In [46]:
my_tuple=(1,2,3,4,5)
str_tuple=tuple(str(x) for x in my_tuple)
print(str_tuple)

('1', '2', '3', '4', '5')

In [47]:
"29. Convert a tuple of strings to a tuple of integers."

'29. Convert a tuple of strings to a tuple of integers.'

In [48]:
str_tuple=('1','2','3','4','5')
int_tuple=tuple(int(x) for x in str_tuple)
print(int_tuple)

(1, 2, 3, 4, 5)

In [51]:
" 30. Merge two tuples."

' 30. Merge two tuples.'

In [49]:
tuple1=(1,2,3)
tuple2=(4,5,6)
result=tuple1+tuple2
print(result)

(1, 2, 3, 4, 5, 6)

In [52]:
" 31. Flatten a nested tuple. "

' 31. Flatten a nested tuple. '

In [61]:
def flatten_nestede_tuple(nested_tuple):
    flat_list=[]
    def flat_recursive(tup):
        for item in tup:
            if isinstance(item,tuple):
                flat_recursive(item)
            else:
                flat_list.append(item)
    flat_recursive(nested_tuple)
    flat_tuple=tuple(flat_list)
    return flat_tuple
nested_tuple=(1,(2,3),5,(6,7))
flat_tuple=flatten_nestede_tuple(nested_tuple)
print(flat_tuple)

(1, 2, 3, 5, 6, 7)

In [63]:
"32. Create a tuple of the first 5 prime numbers."

'32. Create a tuple of the first 5 prime numbers.'

In [ ]:
def first_5_prime_no(n):
    prime_list=[]

In [1]:
" 33. Check if a tuple is a palindrome."

' 33. Check if a tuple is a palindrome.'

In [8]:
def check_palindrome(my_tuple):
    list_tuple=list(my_tuple)
    reversed_tuple=list_tuple[::-1]
    return list_tuple==reversed_tuple
tuple1=(1,2,3,2,1)
tuple2=(1,2,3,4,2,1)
print(check_palindrome(tuple1))
print(check_palindrome(tuple2))

True
False

In [9]:
" 34. Create a tuple of squares of numbers from 1 to 5. "

' 34. Create a tuple of squares of numbers from 1 to 5. '

In [16]:
def tuple_of_square(n):
    list1=[]
    for i in range(1,n+1):
        i=i*i
        list1.append(i)
    return tuple(list1)
n=5
print(tuple_of_square(n))

(1, 4, 9, 16, 25)

In [1]:
" 35. Filter out all even numbers from a tuple."

' 35. Filter out all even numbers from a tuple.'

In [8]:
def all_even_no(my_tuple):
    new_list=[]
    for i in my_tuple:
        if i%2==0:
            new_list.append(i)
    return tuple(new_list)
my_tuple=(1,2,3,4,5,6,7,8)
result=all_even_no(my_tuple)
print(result)

(2, 4, 6, 8)

In [6]:
" 36. Multiply all elements in a tuple by 2 "

' 36. Multiply all elements in a tuple by 2 '

In [9]:
def multiply_tuple_by_2(my_tuple):
    new_list=[]
    for i in my_tuple:
        i=i*2
        new_list.append(i)
    return tuple(new_list)

my_tuple=(1,2,3,4,5,6,7,8)
result=multiply_tuple_by_2(my_tuple)
print(result)

(2, 4, 6, 8, 10, 12, 14, 16)

In [10]:
" 37. Create a tuple of random numbers. "

' 37. Create a tuple of random numbers. '

In [23]:
import random 
random_number=tuple(random.randint(1,100) for i in range(10))
print (random_number)

(50, 55, 45, 39, 53, 77, 7, 52, 99, 33)

In [24]:
" 38. Check if a tuple is sorted. "

' 38. Check if a tuple is sorted. '

In [46]:
def check_tuple_is_sorted(my_tuple):
    return my_tuple == tuple(sorted(my_tuple))

tuple1=(1,2,3,4)
tuple2=(2,3,1,4)

print(check_tuple_is_sorted(tuple1))
print(check_tuple_is_sorted(tuple2))

True
False

In [47]:
" 39. Rotate a tuple to the left by `n` positions."

' 39. Rotate a tuple to the left by `n` positions.'

In [6]:
def rotate_tuple(my_tuple ,n):
    tuple_list=[]
    if n<0 :
        n=len(my_tuple)+n
    n=n%len(my_tuple)
    tuple_list=(my_tuple[n:] + my_tuple[:n])
    return tuple(tuple_list)
n=2
my_tuple=(1,2,3,4,5)
result= rotate_tuple(my_tuple,n)
print(result)

(3, 4, 5, 1, 2)

In [11]:
" 40. Rotate a tuple to the right by `n` positions."

' 40. Rotate a tuple to the right by `n` positions.'

In [13]:
def rotate_tuple_right(my_tuple,n):
    if n<0:
        n=len(my_tuple)+n
    n=n%len(my_tuple)
    return my_tuple[-n:]+ my_tuple[:-n]
n=2
my_tuple=(1,2,3,4,5)
result= rotate_tuple_right(my_tuple,n)
print(result)

(4, 5, 1, 2, 3)

In [14]:
" 41. Create a tuple of the first 5 Fibonacci numbers."

' 41. Create a tuple of the first 5 Fibonacci numbers.'

In [2]:
def generate_fibonacci(n):
    fibonacci_list=[0,1]
    while len(fibonacci_list) < n:
        next_fibonacci= fibonacci_list[-1]+fibonacci_list[-2]
        fibonacci_list.append(next_fibonacci)
    return tuple(fibonacci_list)

generate_fibonacci(5)

(0, 1, 1, 2, 3)

In [3]:
" 42. Create a tuple from user input. "

' 42. Create a tuple from user input. '

In [13]:
def create_a_tuple(n):
    list1=[]
    for i in range(1,n+1):
        list1.append(i)
    return tuple(list1)
user_input=int(input("enter a number"))
create_a_tuple(user_input)

enter a number 5

(1, 2, 3, 4, 5)

In [14]:
" 43. Swap two elements in a tuple."

' 43. Swap two elements in a tuple.'

In [16]:
def swap_2_element(my_tuple):
    tuple_list=list(my_tuple)
    tuple_list[1],tuple_list[3]=tuple_list[3],tuple_list[1]
    new_tuple=tuple_list
    return tuple(new_tuple)
my_tuple=(1,2,3,4,5)
swap_2_element(my_tuple)

(1, 4, 3, 2, 5)

In [17]:
" 44. Reverse the elements of a tuple. "

' 44. Reverse the elements of a tuple. '

In [26]:
def reverse_tuple(my_tuple):
    tuple_list=list(my_tuple)
    new_tuple=tuple_list[::-1]
    return tuple(new_tuple)
tuple1=(1,2,3,4,5)
tuple2=(3,5,6,8,9)
print(reverse_tuple(tuple1))
print(reverse_tuple(tuple2))

(5, 4, 3, 2, 1)
(9, 8, 6, 5, 3)

In [27]:
" 45. Create a tuple of the first `n` powers of 2. "

' 45. Create a tuple of the first `n` powers of 2. '

In [29]:
def generate_power_of_2(n):
    powers_of_two_list=[i**2 for i in range(n)]
    return tuple(powers_of_two_list)
n=5
generate_power_of_2(n)

(0, 1, 4, 9, 16)

In [30]:
" 46. Find the longest string in a tuple of strings."

' 46. Find the longest string in a tuple of strings.'

In [35]:
def find_longest_word(tuple_string):
    if not tuple_string:
        return None
    longest_string=tuple_string[0]
    for string in tuple_string:
        len(string)>len(longest_string)
        longest_string=string
    return longest_string
tuple_string=("apple","banana","orange","sita phal","water melon")
longest=find_longest_word(tuple_string)
print("the longest word in a string is =",longest)

the longest word in a string is = water melon

In [36]:
" 47. Find the shortest string in a tuple of strings."

' 47. Find the shortest string in a tuple of strings.'

In [2]:
string_tuple=("apple","banana","watermelon")
shortest_tuple=min(string_tuple, key=len)
print("the shortest string is" ,shortest_tuple)

the shortest string is apple

In [3]:
"48. Create a tuple of the first `n` triangular numbers."

'48. Create a tuple of the first `n` triangular numbers.'

In [4]:
def generate_triangular_number(n):
    if n<0:
        return None
    triangular_number=[i*(i+1)//2 for i in range(1,n+1)]
    return tuple(triangular_number)
n=5
generate_triangular_number(n)

(1, 3, 6, 10, 15)

In [5]:
" 49. Check if a tuple contains another tuple as a subsequence."

' 49. Check if a tuple contains another tuple as a subsequence.'

In [43]:
def is_subsequence(sub, full):
    i = 0
    j = 0

    while i < len(sub) and j < len(full):
        if sub[i] == full[j]:
            i += 1
        j += 1

    return i == len(sub)

# Example usage:
full_tuple = (1, 2, 3, 4, 5, 6, 7)
sub_tuple = (2, 4, 6)

if is_subsequence(sub_tuple, full_tuple):
    print("The sub_tuple is a subsequence of the full_tuple.")
else:
    print("The sub_tuple is not a subsequence of the full_tuple.")

The sub_tuple is a subsequence of the full_tuple.

In [4]:
" 50. Create a tuple of alternating 1s and 0s of length `n`. "

' 50. Create a tuple of alternating 1s and 0s of length `n`. '

In [5]:
n=10
alt_number=tuple([1 if i%2==0 else 0 for i in range(n)])
print(alt_number)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

In [6]:
# Set Based Practice Problem :

In [7]:
"1. Create a set with integers from 1 to 5."

'1. Create a set with integers from 1 to 5.'

In [8]:
my_set={1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [9]:
"2. Add an element to a set."

'2. Add an element to a set.'

In [11]:
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [12]:
"3. Remove an element from a set."

'3. Remove an element from a set.'

In [13]:
my_set2={1,2,3,4,5}
my_set2.remove(3)
print(my_set2)

{1, 2, 4, 5}

In [14]:
"4. Check if an element exists in a set."

'4. Check if an element exists in a set.'

In [15]:
my_set3={1,2,3,4,5}
element_to_check=3
if element_to_check in my_set3 :
    print(f"{element_to_check} exist in my set")
else:
    print(f"{element_to_check} does not exist in my set")

3 exist in my set

In [16]:
"5. Find the length of a set without using the `len()` function."

'5. Find the length of a set without using the `len()` function.'

In [17]:
my_set4={1,2,3,4,5,6,7}
count=0
for element in my_set4:
    count+=1
print(f"{count} element in my set ")

7 element in my set

In [18]:
" 6. Clear all elements from a set. "

' 6. Clear all elements from a set. '

In [19]:
my_set5={1,2,3,4,5}
my_set5.clear()
print(my_set5)

set()

In [20]:
" 7. Create a set of even numbers from 1 to 10."

' 7. Create a set of even numbers from 1 to 10.'

In [42]:
n=10
my_set=set()
for i in range(1,n+1) :
    if i%2==0:
        my_set.add(i)
print(my_set)

{2, 4, 6, 8, 10}

In [43]:
" 8. Create a set of odd numbers from 1 to 10."

' 8. Create a set of odd numbers from 1 to 10.'

In [46]:
odd_set={x for x in range(1,11,2)}
print(odd_set)

{1, 3, 5, 7, 9}

In [47]:
" 9. Find the union of two sets."

' 9. Find the union of two sets.'

In [48]:
set1={1,2,3,4,5}
set2={6,7,8}
union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [49]:
" 10. Find the intersection of two sets."

' 10. Find the intersection of two sets.'

In [50]:
set1={1,2,3,4,5,6}
set2={3,4,5,6,7,8}
intersesction_set=set1.intersection(set2)
print(intersesction_set)

{3, 4, 5, 6}

In [1]:
"11. Find the difference between two sets."

'11. Find the difference between two sets.'

In [4]:
set1={1,2,3,4,5}
set2={3,4,5,6,7}
difference_set=set1-set2
print(difference_set)

{1, 2}

In [5]:
" 12. Check if a set is a subset of another set."

' 12. Check if a set is a subset of another set.'

In [10]:
set1={1,2,3,4,5,6,7,8}
set2={2,4,6,8}
is_subsset=set2.issubset(set1)
print(is_subsset)

True

In [11]:
"13. Check if a set is a superset of another set."

'13. Check if a set is a superset of another set.'

In [12]:
set1={1,2,3,4,5,6,7,8}
set2={2,4,6,8}
is_superset=set1.issuperset(set2)
print(is_superset)

True

In [13]:
 " 14. Create a set from a list."

' 14. Create a set from a list.'

In [14]:
my_list=[1,2,3,4,5]
my_set=set(my_list)
print(my_set)

{1, 2, 3, 4, 5}

In [15]:
"15. Convert a set to a list."

'15. Convert a set to a list.'

In [16]:
my_set={1,2,3,4,5}
my_list=list(my_set)
print(my_list)

[1, 2, 3, 4, 5]

In [17]:
" 16. Remove a random element from a set."

' 16. Remove a random element from a set.'

In [26]:
my_set={1,2,3,4,5,6}
new_set=my_set.pop()
print(f"removed element : {new_set} ")
print(f"updated set : {my_set}")

removed element : 1
updated set : {2, 3, 4, 5, 6}

In [27]:
"17. Pop an element from a set."

'17. Pop an element from a set.'

In [34]:
my_set={1,2,3,4,5}
popped_element=my_set.pop()
print(f"popped element : {popped_element}")
print(f"updated set : {my_set}")

popped element : 1
updated set : {2, 3, 4, 5}

In [35]:
"18. Check if two sets have no elements in common."

'18. Check if two sets have no elements in common.'

In [38]:
set1={1,2,3}
set2={4,5,6}
no_common_element=set1.isdisjoint(set2)
print(no_common_element)

True

In [39]:
"19. Find the symmetric difference between two sets."

'19. Find the symmetric difference between two sets.'

In [40]:
set1={1,2,3,4,5}
set2={4,5,6,7,8}
symmetric_difference=set1 ^ set2
print(symmetric_difference)

{1, 2, 3, 6, 7, 8}

In [41]:
"20. Update a set with elements from another set."

'20. Update a set with elements from another set.'

In [42]:
set1={1,2,3}
set2={4,5,6}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6}

In [43]:
"21. Create a set of the first 5 prime numbers."

'21. Create a set of the first 5 prime numbers.'

In [17]:
def prime_number(n):
    primes=[]
    for i in range(2,n+1):
        for j in range(2, int(i**0.5)+1):
            if i%j==0:
                break
        else:
            primes.append(i)
    return set(primes)
prime_set=prime_number(11)
print(prime_set)

{2, 3, 5, 7, 11}

In [18]:
" 22. Check if two sets are identical."

' 22. Check if two sets are identical.'

In [20]:
set1={1,2,3,4,5}
set2={1,2,3,4,5}
set_identical= set1==set2
print(set_identical)

True

In [21]:
" 23. Create a frozen set."

' 23. Create a frozen set.'

In [1]:
my_set={1,2,3,4}
my_set=frozenset(my_set)
print(my_set)

frozenset({1, 2, 3, 4})

In [2]:
"24. Check if a set is disjoint with another set"

'24. Check if a set is disjoint with another set'

In [5]:
set1={1,2,3,4}
set2={5,6,7,8}
disjoint=set1.isdisjoint(set2)
if disjoint:
    print("this set are disjoint (the set have no common element)")
else:
    print("the set have a common element")

this set are disjoint (the set have no common element)

In [6]:
"25. Create a set of squares of numbers from 1 to 5."

'25. Create a set of squares of numbers from 1 to 5.'

In [8]:
square_set={x**2 for x in range(1,6)}
print(square_set)

{1, 4, 9, 16, 25}

In [9]:
"26. Filter out all even numbers from a set"

'26. Filter out all even numbers from a set'

In [25]:
set1={1,2,3,4,5,6,7,8}
even_set={x for x in set1 if x%2==0}
print(even_set)

{8, 2, 4, 6}

In [26]:
"27. Multiply all elements in a set by 2."

'27. Multiply all elements in a set by 2.'

In [32]:
set1={1,2,3,4,5,6,7}
multiply_by_2={x*2 for x in set1}
print(multiply_by_2)

{2, 4, 6, 8, 10, 12, 14}

In [1]:
"28. Create a set of random numbers."

'28. Create a set of random numbers.'

In [6]:
import random
def random_set_number(size,minimum,maximum):
    random_set=set()
    while len(random_set)<size:
        random_set.add(random.randint(minimum, maximum))
    return random_set
size = int(input("enter a size"))
minimum = int(input("enter a minimum number"))
maximum = int(input("enter a maximum number"))
result= random_set_number(size,minimum,maximum)
print("random set :" , result)

enter a size 10
enter a minimum number 1
enter a maximum number 99

random set : {3, 68, 37, 8, 76, 15, 50, 25, 61, 94}

In [7]:
"29. Check if a set is empty"

'29. Check if a set is empty'

In [11]:
my_set = set()
if len(my_set)==0:
    print("the set is empty")
else:
    print("the set is not empty")

the set is empty

In [12]:
"30. Create a nested set (hint: use frozenset)."

'30. Create a nested set (hint: use frozenset).'

In [15]:
set1 = frozenset({1,2,3,4})
set2 = frozenset({5,6,7,8})
nested_set = {set1,set2}
print("nested_set :" ,nested_set)

nested_set : {frozenset({1, 2, 3, 4}), frozenset({8, 5, 6, 7})}

In [16]:
"31. Remove an element from a set using the discard method."

'31. Remove an element from a set using the discard method.'

In [19]:
set1={1,2,3,4,5}
set1.discard(2)
print("update set",set1)

update set {1, 3, 4, 5}

In [20]:
"32. Compare two sets."

'32. Compare two sets.'

In [1]:
set1 = {1,2,3,4,5}
set2 = {3,4,5}
if set1==set2:
    print("both set are equal")
else :
    print("both set are not equal")
    
if set2.issubset(set1):
    print("set2 is subset of set1")
else:
    print("set2 is not a subset of set1")
    
if set1.issuperset(set2):
    print("set1 is superset of set2 ")
else:
    print("set1 is not a superser of set2")
    
if set1.isdisjoint(set2):
    print("both set have a no common element")
else:
    print("both set have a comman element")

both set are not equal
set2 is subset of set1
set1 is superset of set2
both set have a comman element

In [2]:
"33. Create a set from a string."

'33. Create a set from a string.'

In [4]:
string = "hello"
my_set=set(string)
print(my_set)

{'l', 'o', 'h', 'e'}

In [5]:
"34. Convert a set of strings to a set of integers"

'34. Convert a set of strings to a set of integers'

In [8]:
string_set={"1","2","3","4"}
set1=set()
for string in string_set:
    integer = int(string)
    set1.add(integer)
print(set1)

{1, 2, 3, 4}

In [9]:
"35. Convert a set of integers to a set of strings."

'35. Convert a set of integers to a set of strings.'

In [10]:
integer_set={1,2,3,4,5,6}
set1=set()
for integer in integer_set:
    string=str(integer)
    set1.add(string)
print(set1)

{'1', '5', '4', '2', '3', '6'}

In [3]:
"36. Create a set from a tuple."

'36. Create a set from a tuple.'

In [2]:
my_tuple=(1,2,3,4,5)
my_set=set(my_tuple)
print(my_set)

{1, 2, 3, 4, 5}

In [4]:
"37. Convert a set to a tuple"

'37. Convert a set to a tuple'

In [5]:
set1={1,2,3,4,5}
my_tuple=tuple(set1)
print(my_tuple)

(1, 2, 3, 4, 5)

In [6]:
"38. Find the maximum value in a set."

'38. Find the maximum value in a set.'

In [8]:
set1={1,2,3,4,5,45,6,7,8}
max_value=max(set1)
print(max_value)

45

In [9]:
"39. Find the minimum value in a set."

'39. Find the minimum value in a set.'

In [11]:
set1={6,3,7,2,7,2,1,6,4,65}
min_value=min(set1)
print(min_value)

1

In [14]:
"40. Create a set from user input."

'40. Create a set from user input.'

In [13]:
user_input=input("enter a element sepereted by comma")
elements=user_input.split(',')
user_set=set(elements)
print(user_set)

enter a element sepereted by comma 1,2,3,4,5

{'3', '2', '1', '4', '5'}

In [1]:
"41. Check if the intersection of two sets is empty."

'41. Check if the intersection of two sets is empty.'

In [2]:
set1={1,2,3,4,5}
set2={4,5,6,7,8}
if not set1.intersection(set2):
    print("the intersection is empty")
else:
    print("the intersection is not empty")

the intersection is not empty

In [3]:
"42. Create a set of the first 5 Fibonacci numbers."

'42. Create a set of the first 5 Fibonacci numbers.'

In [10]:
def generate_fibonacci(n):
    fibonacci_set=set()
    a,b=1,1
    for _ in range(n):
        fibonacci_set.add(b)
        a,b = b, a+b
    return fibonacci_set
result=generate_fibonacci(5)
print(result)

{1, 2, 3, 5, 8}

In [11]:
"43. Remove duplicates from a list using sets."

'43. Remove duplicates from a list using sets.'

In [12]:
my_list=[1,1,2,2,3,3,4,4,5,5]
my_set=set(my_list)
print(my_set)

{1, 2, 3, 4, 5}

In [13]:
"44. Check if two sets have the same elements, regardless of their count."

'44. Check if two sets have the same elements, regardless of their count.'

In [14]:
set1={1,2,3,4,5}
set2={5,4,3,1,2}
if set1==set2:
    print("both set have a common element")
else:
    print("no common element")

both set have a common element

In [15]:
"45. Create a set of the first `n` powers of 2."

'45. Create a set of the first `n` powers of 2.'

In [27]:
def generate_powers_of_2(n):
    powers_of_2_set = set()
    for i in range(n):
        i=i**2
        powers_of_2_set.add(i)
    return powers_of_2_set

powers_set = generate_powers_of_2(5)

print(powers_set)

{0, 1, 4, 9, 16}

In [28]:
"46. Find the common elements between a set and a list."

'46. Find the common elements between a set and a list.'

In [29]:
my_set={1,2,3,4,5,6}
my_list=[4,5,6,7,8]
common_element=my_set.intersection(my_list)
common_element_list=list(common_element)
print(common_element_list)

[4, 5, 6]

In [30]:
"47. Create a set of the first `n` triangular numbers."

'47. Create a set of the first `n` triangular numbers.'

In [31]:
def generate_triangular_number(n):
    triangular_set=set()
    total=0
    for i in range(1,n+1):
        total += i
        triangular_set.add(total)
    return triangular_set

triangular_set=generate_triangular_number(7)
print(triangular_set)

{1, 3, 6, 10, 15, 21, 28}

In [32]:
"48. Check if a set contains another set as a subset."

'48. Check if a set contains another set as a subset.'

In [33]:
set1={1,2,3,4,5,6}
set2={3,4,5}
if set2.issubset(set1):
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset set1")

set2 is a subset of set1

In [34]:
"49. Create a set of alternating 1s and 0s of length `n`."

'49. Create a set of alternating 1s and 0s of length `n`.'

In [39]:
def generating_alternate_set(n):
    alternate_set=set()
    for i in range(n):
        i=i%2
        alternate_set.add(i)
    return alternate_set
n=10
alternate_set=generating_alternate_set(n)
print(alternate_set)

{0, 1}

In [41]:
"50. Merge multiple sets into one."

'50. Merge multiple sets into one.'

In [42]:
set1={1,2,3}
set2={4,5,6}
set3={7,8,9}
merge_set=set1.union(set2,set3)
print(merge_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}